<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    
    <!-- this is our bean configuration using setter injection-->
    <bean class="com.springcore.Student" name="student1">
		<!-- using value as a attribute-->
		<property name="studentId" value="22345" />
		
		<property name="studentName" value="Abhishek Bhutra" />
		<property name="studentAddress" value="West Bengal" />
	</bean>
	
	<!-- using value as a tag-->
	<bean class="com.springcore.Student" name="student2">
		<!-- using value as a attribute-->
		<property name="studentId" value="22346" />
		
		<!-- using value as a tag-->
		<property name="studentName">
			<value>Ram Singh</value>
		</property>
		<property name="studentAddress">
			<value>Punjab</value>
		</property>
	</bean>
	
	<!-- using p schema -->
	<bean class="com.springcore.Student" name="student3" p:studentId = "22347" p:studentName = "Shyam Singh" p:studentAddress = "Haryana"/>
    
 </beans>